{% extends 'base.html' %} 

{% block body %}
<br/>
<h1>Please Upload CSV file </h1>
    {% if messages %}
        {% for message in messages %}
            <div>
                <strong>{{message|safe}}</strong>
            </div>
        {% endfor %}
    {% else %}
    {{order}}
    <br/>
    <br/>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="file1"> Upload a file</label>
        <input type="file" id="file1" name="file">
        <small>Only accepts CSV files</small>
        <button type="submit">Upload</button>
    </form>
    {% endif %}
    {% for profile in profiles %}
    <!-- {{profile.serial_no}} -->
    {% endfor %}
{% endblock %}
